body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 252px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 40px 12px 12px 10px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
	width:65%;
  margin-left: 350px; 
  font-size: 15px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 5px;}
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.hesap{
	
	float:left;
	border:1px solid #ddd;
	width:200px; padding:5px;
	margin:5px; height:100px;
	background:skyblue;
}
  .story_shape {
    width: 15rem; 
    height: 15rem; 
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); 
    position: relative; 
}

 .story_img {
    height: 100%;
      
    backface-visibility: hidden; 
 }
 
 .story_caption {
    position: absolute; 
	margin-top:45px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: black; 
    text-transform: uppercase; 
    font-size: 1.2rem; 
    text-align: center;  
    backface-visibility: hidden; 
 }
  .story_caption2 {
    position: absolute; 
	margin-top:-85px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: black; 
    text-transform: uppercase; 
    font-size: 1.2rem; 
    text-align: center;  
    backface-visibility: hidden; 
 }
 
 .story_caption3 {
    position: absolute; 
	margin-top:95px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: black; 
    text-transform: uppercase; 
    font-size: 1.2rem; 
    text-align: center;  
    backface-visibility: hidden; 
 }